body {
  background-color: #D5D5D5;
  font-size: 16px;
}

.container {
  background-color: #E9E7EA;
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  box-shadow: 0 10px 50px #858585;
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  row-gap: 30px;
}

.avatar img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.name {
  padding-left: 30px;
  border-left: 1px solid #000;
}

.name h1 {
  font-weight: 300;
  font-size: xxx-large;
  margin: 0px 0 5px;
}

.name .specialize {
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
}

.name .contact {
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.name .contact span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: small;
  margin-right: 20px;
  line-height: 20px;
}

.name .contact li {
  min-width: 250px;
  padding: 5px 0;
  transform: translate(-40px);
  background-color: #E9E7EA;
}

.info ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  line-height: 30px;
}

h2 {
  padding: 0;
  margin: 0 0 20px 0;
}

.intro {
  padding-left: 30px;
  border-left: 1px solid #000;
  text-align: justify;
}

.experience {
  text-align: right;
}

.experience h4 {
  margin: 20px 0 10px;
}

.skills {
  margin-top: 50px;
}

.experience ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.experience li {
  padding: 10px 0;
}

.project {
  padding-left: 30px;
  text-align: justify;
  border-left: 1px solid #000;
}

.project h4 {
  margin: 20px 0 10px;
}

.project .web {
  color: #0c7373;
  padding: 10px 0;
}

.project .location {
  font-weight: 500;
}

.project .item {
  position: relative;
}

.project .absolute {
  position: absolute;
  left: -38px;
  top: 10px
}

.project .item::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #E9E7EA;
  content: '';
  border-radius: 50%;
  left: -37px;
}

.mb-5 {
  margin-bottom: 5px;
}

.tooltiptext {
  visibility: hidden;
  text-align: center;
  padding: 2px 7px;
  position: absolute;
  top: -16px;
  margin-left: 4px;
  border-radius: 10px 0px 10px 0px;
  -webkit-border-radius: 10px 0px 10px 0px;
  -moz-border-radius: 10px 0px 10px 0px;
  box-shadow: 0 1px 5px #858585;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
